/***
src\components\Navbar\style.scss
*/
%border-active {
    border: 1px solid #909090;
};

/* NAVBAR */
.navbar{
    justify-content: space-between;
    max-height: 90px;
    min-height: 90px;
    @extend %border-active;
    

    .navbar-center__menu{
        >ul{
            display: flex;
            justify-content: flex-start;
            
            max-width: 1135px;
            width: 100%;
        }
    }
    .navbar-end {
        display: flex;
        grid-column: 2/3;
        grid-row: 1/1;
        max-width: 275px;
        width: 100%;
        min-width: 220px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /* navbar-end*/
    .login.btn-group,
    .login a.btn  {
        border: 0;
        background: none;
    }

    .login a.btn {
        color: var(--priority-dark-color);
        font-size: 0.8em;
        box-shadow: none;
    }
    

    .register {
        background: none;
    }

    .register a.btn {
        background-color: var(--priority-lite-color);
        border-radius: 10px;
        color: #141414;
        font-weight: 500;
        font-size: 0.9em;
    }


}

