/**
src\styles\scss\style.scss
*/
%border-active {
    border: 1px solid var(--priority-dark-color)
};
$border-no-active: 1px soled #909090;
$max-width-size: 1600px;

%box-parrent{
  min-height: 100vh;
  display: block;
  min-width: 320px;
  max-width: $max-width-size;
  min-width: 320px;
  margin: 0 auto;
}

%font-basis{
  font-family: system-ui, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  line-height: 3;
  color: var(--font-basis-color-lite);
}
/* BASIS */
html {
    @extend %font-basis;
    background-color: var(--bg-body-color);
}
body,
div#body {
  background-color: var(--bg-body-color);
}

p,
span,
label,
button,
textarea.form-control,
textarea.form-control:focus,
a:not([href]):not([class]),
input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="checkbox"],
select {
  @extend %font-basis;
  color: var(--bs-body-color);
}
label,
button,
textarea.form-control,
textarea.form-control:focus,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="checkbox"],
select
{
    background-color: var(--bg-dashboard-color );
}
label {
    background: none 
}
a {
  @extend %font-basis;
  cursor: pointer;
}
#root li a.active{
    color: var(--priority-dark-color);
}
h1{
  @extend %font-basis;
  font-size: 1.875em;
  
}
h2{
    font-size: 1.57em;
}
h1, h2 {
    text-align: center;
}
#body span{
    text-transform: math-auto;
}
/* BODY */
body{
  padding: 0;
  margin: 0;
}
button:active{
    background-color: var(--priority-dark-color);;
    color: var(--basis-color-dark);
    box-shadow: inset 0 4px 10px rgba(0,0,0,0.4);
}
#root {
  @extend %box-parrent;
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows: 94px auto 260px;
//   justify-content: space-evenly;
  margin: 0 auto;
//   flex-wrap: wrap;
  padding: 20px;
}

/* LOG / LOGOTIP */
.log, 
.log a,
    .register_form .log,
    .register_form{
    font-size: 1.1em; 
    span{
        color: var(--priority-lite-color);
        font-size: 1.1em;
        text-transform: uppercase;
    }
}
.register_form .log{
    text-align: center;
}
/* NAVBAR and FOOTER*/
.navbar,
footer{
    display: grid;
    grid-template-columns: auto 275px;
    grid-template-rows: 1fr;
    border-radius: 15px;
}
.navbar .navbar-center,
footer .navbar-center {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 1fr;
    
}
.navbar-start{
    display: none;
}

/* log / logotip */
    
    .log{
        grid-column: 1 / 2;
        grid-row: 1/2;
        a.btn.btn-ghost.text-xl {
            background: url("pictures/logo_small.png") no-repeat  left / 40px 51px;
            background-position: 0, 0;
            min-height: inherit;
            border: none;
            padding-left: 48px;
        }
        min-height: 76px;
        
    }
/* Data in form field is not correct*/
label{
    position: relative;
}
.warned-message{
    display: none;
    position: absolute;
    max-width: 350px;
    background-color: var(--warned-message);
    padding: 0 5px;
    border: 1px solid var(--priority-dark-color);
    left: 0;
    // bottom: -75px;
    z-index: 3;

}
.active.warned-message{
    display: inline-block;
    width: 100%;
    white-space: normal;
    h3,
    span {
        line-height: 1.2;
        display: inline-block;
    }

}
/*---------------------------*/
@media screen and (max-width: 1023.9999px){
    .navbar{
        display: flex;
    }
    .navbar-start{
        display: initial;
        min-width: 40px;
    }
    
}

@media screen and (max-width: 768px){
    header{
        justify-content: space-between;
        
    }
    header,
    .navbar div.navbar-center{
            display: flex;
        }
    /* NAVBAR */
    .navbar{
    
        .navbar-start{
            grid-column: 1 /2 ;
            grid-row: 1 / 2;
        }
    }
    
    div.navbar-center > div.log{
        display: none;
    }
}
@media screen and (max-width: 620px){
    #root{
        padding: 0;
        margin: 0;
    }

}
:root,
[dark-theme]{
    --bg-body-color: #141414;
    --bg-dashboard-color: #222222;
    --priority-dark-color: #b5e3ff;
    --priority-lite-color: #b5e3ff;
    --font-basis-color-lite: #ebf7ff;
    --basis-color-dark: #909090;
    --warned-message:  rgb(240, 15, 45, 0.7);
}